In [744]:
import csv

In [723]:
import pandas as pd

In [724]:
meddata = pd.read_csv('insurance.csv')
meddata.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [725]:
meddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [726]:
meddata.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [727]:
age = []
sex = []
bmi = []
children = []
smoker = []
region = []
charges = []

In [728]:
def load_info(file_name):
    with open('insurance.csv','r') as insurance_file:
        reader = csv.DictReader(insurance_file)     
        for row in reader:
            age.append(row['age'])
            sex.append(row['sex'])
            bmi.append(row['bmi'])
            children.append(row['children'])
            smoker.append(row['smoker'])
            region.append(row['region'])
            charges.append(row['charges'])

In [729]:
load_info('insurance.csv')

In [771]:
class PatientInfo:
    
    def __init__(self,age,sex,bmi,numofchildren,region,smoker,charges):
        self.age = age
        self.sex = sex
        self.bmi = bmi
        self.numofchildren = numofchildren
        self.region = region
        self.smoker = smoker
        self.charges = charges
    
    #analyze the average insurance costs
    
    def average_charges(self):
        total_charges = 0
        for charge in self.charges:
            total_charges += float(charge)
        return ("Average Patient Charge: " + str(round(total_charges/len(self.charges), 2)))   
    
    #analyze the average age of patients
    def average_ages(self):
        total_age = 0
        for age in self.age:
            total_age += int(age)
        return ("Average Patient Age: " + str(round(total_age/len(self.age), 2)) + " years")
    
    #analyze the amount of males and females
    def analyze_sexes(self):
        m = 0
        f = 0
        for sex in self.sex:
            if sex == 'male':
                m += 1
            elif sex == 'female':
                f += 1
        return ("There are " + str(f) + " females and " + str(m) + " males.")
    
    #find where the majority of patients are from
    def where_majority_from(self):
        areas_dict = dict()
        areas_dict["Southwest"] = self.region.count("southwest")
        areas_dict["Northwest"] = self.region.count("northwest")
        areas_dict["Southeast"] = self.region.count("southeast")
        areas_dict["Northeast"] = self.region.count("northeast")
        majority = max(areas_dict.values())
        for area, num_people in areas_dict.items():
            if num_people == majority:
                print("The majority of individuals are from {}. {} people on average.".format(area, num_people))
        print("Distribution in other regions:", + str(areas_dict))
              
    #find relation between costs and age
    #find relation between cost and sex
    #find relation between cost and region
    
    def create_dictionary(self):
        self.patients_dictionary = {}
        self.patients_dictionary["age"] = [int(age) for age in self.age]
        self.patients_dictionary["sex"] = self.sex
        self.patients_dictionary["bmi"] = self.bmi
        self.patients_dictionary["children"] = self.children
        self.patients_dictionary["smoker"] = self.smoker
        self.patients_dictionary["region"] = self.region
        self.patients_dictionary["charges"] = self.charges
        
        return self.patients_dictionary

In [737]:
patient_info = PatientInfo(age, sex, bmi,children, smoker, region,charges)

In [738]:
patient_info.average_charges()

'Average Patient Charge: 13270.42'

In [739]:
patient_info.average_ages()

'Average Patient Age: 39.21 years'

In [740]:
patient_info.analyze_sexes()

'There are 662 females and 676 males.'

In [768]:
patient_info.where_majority_from()

The majority of individuals are from Southwest. 0 people on average.
The majority of individuals are from Northwest. 0 people on average.
The majority of individuals are from Southeast. 0 people on average.
The majority of individuals are from Northeast. 0 people on average.
Distribution in other regions: {'Southwest': 0, 'Northwest': 0, 'Southeast': 0, 'Northeast': 0}